@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/raleway_thin-webfont.ttf");
}

body {
  background: url(/resources/congruent_outline.png);
  font-family: "Raleway";
  overflow-x: hidden;
}

.t-center {
  text-align: center;
}

.flex-container {
  padding: 0;    
  margin: 0;    
  list-style: none;    
  display: -webkit-box;    
  display: -moz-box;    
  display: -ms-flexbox;    
  display: -webkit-flex;    
  display: flex;        
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

  .flex-container li {  
    height: 0;
    margin: 0.4%;

    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }

.days-container {
  height:auto;
  width:60%;
}

  .days-container li {
    background: rgb(56, 154, 65);
    padding-bottom: 13%;
    width: 13%;
    position: relative;
    overflow: hidden;
    text-align: right;
    padding-right: 0.4%;
  }

    .days-container li .day-edit-bar {
      position: absolute;
      bottom:-40px;
      left: 0;
      height: 40px;
      width: 100%;
      background-color: white;
      opacity: 0.4;
      text-align: left;
      padding: 0 10px;
      display: flex;
      justify-content: space-between; 
    }

    .days-container li .flat-button {
      color:black;
      font-size: 20px;
    }

    .flat-button {      
      cursor: pointer;
      outline: none;
      border: none;
      background: none;
    }


      .days-container li .flat-button:hover {
        color: rgb(243, 84, 57);
      } 

  .days-container .outside-month {
    opacity: 0.4;
  }


.week-headers {
  height:36px;
  width:60%;
}

  .week-headers li {
    color: white;
    height: 36px;
    width: 13%;
  }

.month-bar {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5%;
  height: 36px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

  .month-bar button {
    display:inline-block;
    outline: none;
    height: 36px;
    width: 20%;
    background: none;
    border: none;
    font-size: inherit;
    color:white;
  }

    .month-bar button:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .month-bar button.prev-month {
      text-align: right;
    }

    .month-bar button.next-month {
      text-align: left;
    }

  .month-bar .selected-month {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 59%;
    text-align: center;
    text-transform:capitalize;
    color:white;
  }

.editPanel {
  position: absolute;
  background-color: rgb(56, 154, 65);
  height: 100%;
  width: 50%;
  top: 0;
  right: -50%;
  border-left: 1px solid #306D20;
  -webkit-transition: right;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;

}

  .editPanel .close-panel-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    color: rgb(160, 160, 160);
  }

  .editPanel .close-panel-button:hover {
    color: rgb(203, 137, 63);
  }

  .editPanel .edit-panel-heading {
    text-align: center;
    font-weight: bold;
  }

/*
  Flexy Authentication
*/

.flexy-auth-container {
  position: relative;
  height:500px;
}

.login-form {
  width: 300px;
  height: 100px;

  position:absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;

  color:white;
  font-size:16px;
}

.login-form .form-control {
  font-size:17px;
}

/*
  End of Flexy Authentication
*/

/*
  Animations
*/

.animations-on .days-container li .day-edit-bar {
  -webkit-transition: bottom;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
}

.animations-on .days-container li:hover .day-edit-bar {
  -webkit-transition: bottom;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
  bottom:0px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.editPanel.animateIn {
  -webkit-transition: right;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  right:0%; 
}

/*
  End of Animations
*/





@media (max-width: 1620px) {
  .days-container {
    width:90%;
  }

  .week-headers {
    width:90%;
  }
}

@media (max-width: 1024px) {
  .days-container {
    width:100%;
  }

  .week-headers {
    width:100%;
  }

  .days-container li .day-edit-bar {
    height:30px;
  }

  .days-container li .day-editbar-button {
    font-size: 18px;
  }

  .editPanel {
    width:100%;
    right:-100%;
  }
}
